@import url('styleform.css');
.table {
    width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse;
    display: flex;
    flex-direction: column;
    width: auto;
/*     
    background-color: rgb(31, 160, 160);
    width: auto;
    margin: 0 50px 0 50px;
    padding: 0  10px 10px 10px; */
}

.value {  
	padding: 5px; 
    text-align: left;
    margin: 0 10px 0 10px; 
}

.value.id {
    width: 40px;  
    word-wrap: break-word; /* Это свойство позволяет тексту переноситься на новую строку при нехватке места */
    white-space: pre-line;
}
.value.ipAdress {
    width: 110px; 
}
.violations {
    width: 75px;
}
.value.st {
    width: 50px;  
}
.value.port {
    word-wrap: break-word; /* Это свойство позволяет тексту переноситься на новую строку при нехватке места */ 
    width: 120px;   
} 
.value.other, .endTieme, .comment {
    width: 150px;  
    word-wrap: break-word; /* Это свойство позволяет тексту переноситься на новую строку при нехватке места */ 
}
.commentip {
    width: 350px;
    height: 100px;
}
.row { 
    font-weight: bold; 
	background: #efefef;
	border: 1px solid #dddddd;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center; 
}

.table-header {  
    margin: 5px; 
	background: #b6b6b6;
}

.element {  
    margin: 5px;
}

a {
    text-decoration:none;
}

#myTextarea {
    word-wrap: none;
    white-space: none;
    width: auto;
    height: 20px;
    min-width: 150px;
    max-width: 230px; /* Максимальная ширина в пикселях */
    max-height: 200px;
    min-height: 20px;
}
.value.port #myTextarea {
    white-space: none;
}
.main { 
    margin-right: 50px;
    margin-left: 50px;
}

/* Стили для заголовка */
header {
    background-color: #333; /* Цвет фона заголовка */
    color: #fff; /* Цвет текста */
    padding: 10px 0; /* Внутренние отступы сверху и снизу */
    margin-bottom: 20px;
}

.container {
    /*max-width: 960px; /* Максимальная ширина контейнера */
    margin:   auto; /* Центрирование контейнера по горизонтали */
    display: flex;
    justify-content: space-around ; /* Равномерное распределение элементов по горизонтали */
    align-items: center; /*Выравнивание элементов по вертикали */
    font: 1.2em "Fira Sans", sans-serif;
}

h1 {
    margin: 0; /* Убираем отступы вокруг заголовка */
}

nav ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы списка */
}

nav li {
    display: inline; /* Элементы списка в строку */
    margin-right: 20px; /* Внешний отступ между элементами */
}

nav a {
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: #fff; /* Цвет текста ссылок */
    font-size: 23px;
    padding: 5px;
}
body {
    font: caption;
}