@import url('styleform.css');
table {
	border: 2px solid #dddddd;
    width: 100%;
    border-collapse: collapse;   /* Убирает отступы и объединяет границы ячеек */
}
.table-striped tbody tr:nth-child(odd) {
    background-color: #ffffff;  /*  Цвет фона для нечетных строк*/
}
.value {
    text-align: center;
}
.violations span {
    cursor: pointer;
}
.commentip {
    width: 350px;
    height: 100px;
}
.row { 
    font-weight: bold; 
	background: #efefef;
	border: 1px solid #dddddd;
}
/*        при наведенні весь рядок змінює колір */
/*.row:hover {background-color: #00cd1b59}*/

.table-header {
	background: #b6b6b6;
}


a {
    text-decoration:none;
}

.myTextarea {
/*    width: auto;*/
    height: 15px;
    min-width: 150px;
    max-width: 200px;   /*Максимальная ширина в пикселях*/
    max-height: 20px;
    min-height: 10px;
    border: none;
    background: transparent;
    resize: none;     /*    *//* Отключаем возможность изменения размера */
    overflow: hidden;  /*  *//* Скрываем полосы прокрутки */
}
.myTextarea:focus {
    outline: none;
    resize: both;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    height: 60px;
    max-height: 200px;
    max-width: 200px;
    overflow: auto;
}
.value.port #myTextarea {
    white-space: none;
}
.main { 
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 100px;
}

/* Стили для заголовка */
header {
    background-color: #333; /* Цвет фона заголовка */
    color: #fff; /* Цвет текста */
    padding: 10px 0; /* Внутренние отступы сверху и снизу */
    margin-bottom: 20px;
}

.container {
    /*max-width: 960px; /* Максимальная ширина контейнера */
    margin:   auto; /* Центрирование контейнера по горизонтали */
    display: flex;
    justify-content: space-around ; /* Равномерное распределение элементов по горизонтали */
    align-items: center; /*Выравнивание элементов по вертикали */
    font: 1.2em "Fira Sans", sans-serif;
}

h1 {
    margin: 0; /* Убираем отступы вокруг заголовка */
}

nav ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы списка */
}

nav li {
    display: inline; /* Элементы списка в строку */
    margin-right: 20px; /* Внешний отступ между элементами */
}

nav a {
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: #fff; /* Цвет текста ссылок */
    font-size: 23px;
    padding: 5px;
}
body {
    font: caption;
}

/*-----------------DELETE botton---------*/
.delete {
    background-color: #cd002ff0;
    color:white;
    border-radius: 15px;
    height:20px;
    padding: 5px 10px 5px 10px;
}

.delete:hover {background-color: #cd002f6c}

.delete:active {
  background-color: #ad0042f0;
  box-shadow: 0 5px hwb(0 59% 40%);
  transform: translateY(4px);
}
/*------------------------*/