{% extends 'base.html' %}

{% block title %}
	Додати  ІР адрес
{% endblock %}

{% block script %}
    <script  type='module'src="{{ url_for('static', filename='js/checkAddip.js') }}"></script>
{% endblock %}

{% block body %}
<div class="bady">
<!--    <h2>{{massedg}}</h2>-->
    <div class="form-container">
        <div class='formaAllElement'>
            <div class="headline">
                <h1>Додати ІР</h1>
            </div>
            <form name="formAddIP" id="myForm" method="post">
                <div class="form-group">
                    <label for="ip">IP:</label>
                    <input class='form' type="text" id="ip" name="ip" placeholder="192.168.1.1">
                    <span class="message" data-for="ip"></span>
                </div>
                <div class="form-group">
                    <label for="port">Port:</label>
                    <input class='form' type="text" id="port" name="port" placeholder="23, 44, 555, 11">
                    <span class="message" data-for="port"></span>
                </div>
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea  class="commentip form" id="comment" name="comment" placeholder="Це вч А1234" ></textarea>
                    <span class="message " data-for="comment"></span>
                </div>
                <div class="form-group">
                    <label for="violations">Чи подавали його ?</label>
                    <select class='form'  name="violations" id="violations">
                        <<option selected value="No">No</option>-->
                        <option value="Yes">Yes</option>
                    </select>
                    <span class="message" data-for="violations"></span>
                </div>
                <button id="addition"  class="signUp" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}