<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <script  type='module'src="{{ url_for('static', filename='js/index.js') }}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
	<header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/">Головна</a></li>
                    <li><a href="/addIP">Додати IP адресу</a></li>
                    <li><a href="/findIP">Сканувати</a></li>
                    <li><a href="/statistics">Статистика</a></li>
                    <!--<li><a href="#">Контакти</a></li>-->
                </ul>
            </nav>
            <h1>Scaner 6 VKBI</h1>
        </div>
    </header>
	{% block body %}{% endblock %}
</body>

</html>
 
