{% extends 'base.html' %}

{% block title %}
	Додати  ІР адрес
{% endblock %}

{% block body %}
    <div class="form-container">
        <div class='formaAllElement'>
            <div class="headline">
                <p>Scaner IP adress</p>
            </div>
            <form name="formLoging" method="post" >
                <div>
                    <label class='sign-in-IP'>IP  adress:</label>
                    <input type='text' class='form' name="ipadress" id="ipadress" placeholder="192.168.1.1 or 192.168.1.0/24">
                    <span class="message form" data-for="ipadress"></span>
                </div>
                <div class="linefiltr">
                    <input type="radio" name="metodscan" class="form" value="fping">
                    <label class="form">Fping</label>
                    <label class="form ValueOff" data-for="fping">Просто сканування </label>
                </div>
                <div class="linefiltr">
                    <input type="radio" name="metodscan" class="form" value="svmap">
                    <label class="form">Svmap</label>
                    <label class="form ValueOff" data-for="svmap">Сканування SIP 5060-5062 портів </label>
                </div>
                <div class="linefiltr">
                    <input type="radio" name="metodscan" class="form" value="listports"  >
                    <label class="form">Готовий список портів для сканування</label>
                    <select class="form ValueOff" name="listports" data-for="listports" >
                        <option>5060-5062</option>
                        <option>23</option>
                        <option>80,443</option>
                        <option>21,22,23,80,443,8080</option>
                        <option>25,445,3389,1433,53,67,68,161,162,139,135</option>
                    </select>
                </div>
                <div class="linefiltr" >
                    <input type="radio" name="metodscan" class="form" value="allports"  >
                    <label class="form" name="ports"> Написати список портів </label>
                    <textarea class="form ValueOff" placeholder="22, 23, 443, 80" data-for="allports"></textarea>
                </div>





                <div class="nmap ValueOff" id="checkboxListContainer" name="nmapValue">
                    <div class="valuetonmap">
                        <input type="checkbox" class="form">
                        <label class="tagsnmap">-PN :</label>
                        <label class="description"> Розцінювати всі хости як такі, що працюють - пропустити виявлення хостів </label>
                    </div>
                    <hr>
                    <div class="valuetonmap">
                        <input type="checkbox" class="form" checked>
                        <label class="tagsnmap">-PS :</label>
                        <label class="description">TCP SYN  пінгування заданих хостів </label>
                    </div>
                    <hr>
                    <div class="valuetonmap">
                        <input type="checkbox" class="form" checked>
                        <label class="tagsnmap">-PA :</label>
                        <label class="description">TCP ACK   пінгування заданих хостів </label>
                    </div>
                    <hr>
                    <div class="valuetonmap">
                        <input type="checkbox" class="form" checked>
                        <label class="tagsnmap">-sU :</label>
                        <label class="description">UDP сканування </label>
                    </div>
                    <hr>
                    <div class="valuetonmap">
                        <input type="checkbox" class="form" checked>
                        <label class="tagsnmap">-O :</label>
                        <label class="description"> Активувати ф-ю визначення ОС</label>
                    </div>
                    <hr>
                    <div class="valuetonmap">
                        <input type="checkbox" class="form" checked>
                        <label class="tagsnmap">-A :</label>
                        <label class="description">Активувати ф-ю визначення ОС та версії,сканування з використанням скриптів та трасування</label>
                    </div>
                    <span class="message form" data-for="email"></span>
                </div>
                <button id="signUp" class="form full" type="submit" >Сканувати</button>
            </form>
        </div>
    </div>
{% endblock %}