{% extends 'base.html' %}

{% block title %}
	Головка
{% endblock %}

{% block script %}
    <script  type='module'src="{{ url_for('static', filename='js/addcoments.js') }}"></script>
{% endblock %}

{% block body %}
	<div class="main">
        <div class="table">
            <div class="row table-header ">
                <div class="value id">ID</div>
                <div class="value violations">Подавали</div>
                <div class="value ipAdress">IP addres</div>
                <div class="value st"> STATUS</div>
                <div class="value port">Port</div>
                <div class="value endTieme">Останє сканування</div>
                <div class="value comment">Примітки</div>
                <div class="value other">Other</div>
            </div>
            {% for el in address%}
                <div class="element row">
                    <div class="value id">{{ el.id}}</div>
                    <div class="value violations">
                                            {% if el.checked == True %}
                                                    <span   data-id-vio="{{ el.id }}" value="True">&#9989</span>     <!-- Галочка -->
                                            {% else %}
                                                    <span   data-id-vio="{{ el.id }}" value="False">&#10060</span>  <!-- Крестик -->
                                            {% endif %}
                    </div>
                    <div class="value ipAdress"><a href="http://{{ el.ip }}" target="_blank">{{ el.ip }}</a></div>
                    <div class="value st"> {% if el.id_status == True %}
                                                    <span>&#127774</span>
                                            {% else %}
                                                    <span>&#128164</span>
                                            {% endif %}
                    </div>
                    <div class="value port">{% if el.id_svmap %} {{  el.id_svmap.ports  }} {% endif %}</div>
                    <div class="value endTieme">{{ el.update.date() }}</div>
                    <div class="value comment">
                        <textarea class="myTextarea" rows="about" cols="about" data-id-com="{{ el.id }}" >{{ el.comments }}</textarea>
                    </div>
                    <div class="value other">{% if el.id_nmap %} {{  el.id_nmap.id  }} {% endif %}</div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}